@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,400;0,600;0,900;1,300&display=swap');
@import 'about';
@import 'career';
@import 'team';
@import 'events';
@import 'partiles';
@import 'footer';

* {
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}
.navList a {
  font-weight: 600;
}
.navBar {
  position: fixed;
  z-index: 9;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo > button {
  font-size: 20px;
  margin: 0 10px;

}
.toggle_btn {
  display: none;
}

.home_page {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.left_content {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px;
}
.home_logo {
  position: relative;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.home_logo > img {
  width: 50%;
  animation: floating 4s linear infinite;
  -webkit-animation: floating 4s linear infinite;
}
.floating_box , .floating_box2 {
  position: absolute;
  top:  -15%;
  right: 0%;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  backdrop-filter: brightness(0.5);
  display: flex;
  align-items: center;
  max-width: 300px;
  cursor: pointer;
  transition: 0.7s all;
  -webkit-transition: 0.7s all;
  -moz-transition: 0.7s all;
  -ms-transition: 0.7s all;
  -o-transition: 0.7s all;
}
.floating_box:hover  {
  transform: translateX(-5px);
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
}

.floating_box2:hover {
  transform: translateX(-5px);
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
}
.floating_box2 {
      top: 90%;
      left: 0%;
}

.floating_box img , .floating_box2 img {
  width: 40px;
  height: 40px;
}
.floating_box h4 , .floating_box2 h4 {
  font-weight: 600;
  margin:  auto 7px;
}
@keyframes floating {
    0% {
      transform: translateY(00px);
    }
    45% {
      transform: translateY(-10px);
    }
   76% {
      transform: translateY(10px);
    }
   100% {
      transform: translateY(0px);
    }
}


@media (max-width: 930px) {
    .home_page {
      flex-direction: column;
      min-height: auto;
      height: auto;
    }
    .left_content {
      width: 90%;
      margin: 10px auto;
      align-items: center;
      padding: 0;
      margin-top: 120px;
      text-align: center;
    }
    .left_content h1 {
      font-size:25px;
    }
    .left_content >p {
      width: 100%;
    }
    .home_logo {
      width: 90%;
      margin: 10px auto;
      margin-top: 20px;
    }
    .home_logo > img {
      width:  250px;
    }
    .floating_box, .floating_box2 {
      width: 200px;
      display: none;
    }
    .floating_box {
        top: 0%;
        right: -15px;
    }
    .floating_box2 {
      top: 80%;
    }
    .floating_box img , .floating_box2 img {
      width: 25px;
      height: 25px;
    }
    .floating_box h4 , .floating_box2 h4 {
      font-weight: 600;
      margin:  auto 7px;
      font-size: 8px;
    }
    .buttons a {
      font-size: 12px;
    }
    .navBar a{
      font-size: 12px;
    }
}

@media (max-width : 700px) {
  .home_page {
    padding-top: 20px;
  }
  .left_content > p {
    font-size: 10px;
  }
  .navList_changed {
    width: 100%;
    top: 80px;
    position: fixed;
    flex-direction: column;
    left: 0;
    background-color: white;
    align-items: center;
    justify-self: center;
    gap: 1;
    padding-bottom: 10px;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  }
  .close_nav {
  display: none;}
  .toggle_btn {
    display: flex;
  }
}