.career_page h1 {
    font-size: 25px;
    color:  #2f8d46;
    font-weight: bold;
}
.career_page {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.career_card {
    width: 90%;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .career_image {
        flex-basis: 30%;
        img {
            width: 100%;
        }
    }
}
.career_content {
    flex-basis: 50%;
    display: flex;
    height: 100%;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    a {
        margin: 10px 0;
        font-size: 12px;
    }
    p {
        margin: 10px auto;
        font-size: 12px;
    }
}

@media (max-width : 700px) {
    .career_card {
        flex-direction: column-reverse;
        .career_image {
            width: 250px;
        }
        .career_content {
            width: 100%;
            align-items: center;
            p {
                font-size: 10px;
                text-align: center;
            }
            a {
                width: 100%;
                font-size: 12px;
            }
        }
    }

}